In [2]:
import pandas as pd

# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [145]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
filter_large = ratings[ (ratings['rating'] == 5.0) ]
filter_large.groupby(['movieId','userId']).count().sort_values(['rating', 'movieId'], ascending = [False, False]).head()

                rating  timestamp
movieId userId
187717  462          1          1
187595  586          1          1
187593  25           1          1
        98           1          1
        249          1          1


# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [96]:
data = pd.read_csv('power.csv')
filtered_countries = data[ ((data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')) \
                         & ((data['year'] >= 2005) | (data['year'] <= 2010))\
                         & ((data['category']== 4) | (data['category']== 12) | (data['category']== 21))\
                         & ((data['quantity'] > 0))]
filtered_countries.groupby(by = ['country']).sum().head()

             year  quantity  category
country
Estonia    616770  266014.0      4972
Latvia     526970  208780.0      5421
Lithuania  948610  495934.0      7980

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [32]:
data = pd.read_html('https://synapsenet.ru/searchorganization/organization/1026303117092-ao-rntrans')[0]
display(data.head())
print(type(data))

    Год Баланс тыс.руб. Выручка тыс.руб. Прибыль тыс.руб.
0  2018       9 156 749       74 849 526        1 643 054
1  2017      14 835 713       72 495 413          858 935
2  2016      12 774 890       61 795 521          893 811
3  2015      14 804 899       63 510 872        1 012 254
4  2014      12 841 322       59 919 969          944 440

<class 'pandas.core.frame.DataFrame'>